@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 148 54% 34%;

  --primary: 148 54% 34%;
  --primary-foreground: 355.7 100% 97.3%;

  --secondary: 46 90% 55%;
  --secondary-foreground: 25 39% 20%;

  --accent: 172 47% 42%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --radius: 0.75rem;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 210 20% 98%;

  --muted: 215 27.9% 16.9%;
  --muted-foreground: 217.9 10.6% 64.9%;

  --popover: 224 71% 4%;
  --popover-foreground: 210 20% 98%;

  --card: 224 71% 4%;
  --card-foreground: 210 20% 98%;

  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --ring: 148 54% 44%;

  --primary: 149 56% 45%;
  --primary-foreground: 144.9 80.4% 10%;

  --secondary: 43 96% 62%;
  --secondary-foreground: 25 28% 20%;

  --accent: 172 47% 42%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background text-foreground antialiased;
  }
}
